@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">En version af grillbutikken, der løser de grundlæggende problemstillinger som virksomheden har</h2>
    <h4>Udarbejdet af</h4>

    <p>Davide, Patrick, Oliver, Martin, Daniel</p>
</main>