@{
    ViewBag.Title = "Home Page";
}

<div class="top-bar">
    <div class="search-container">
        <form action="">
            <button type="submit">
                <i class="bi-box-fill"></i>
                <i class="bi bi-search"></i>
            </button>
            <input type="text" placeholder="Search..." name="Search">
        </form>
    </div>
</div>

<div>Velkommen til siden, my niggers</div>