@model List<WebApp.DTO.ProductProductionDTO>
@{
    ViewBag.Title = "Produktion";
}

<div class="top-bar">
    <div class="search-container">
        <form action="">
            <button type="submit">
                <i class="bi-box-fill"></i>
                <i class="bi bi-search"></i>
            </button>
            <input type="text" placeholder="Search..." name="Search">
        </form>
    </div>
</div>

<div class="body">

    <div class="crud">
        <button class="crud-btn to-do">Slet</button>
        <button class="crud-btn in-progress">Redigér</button>
        <button class="crud-btn create-type">Opret Type</button>
        <button class="crud-btn create-new">Opret Ny</button>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produktionsnummer</th>
                <th>Produktionsnavn</th>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Status</th>
                <th>Planlagt Antal</th>
                <th>Fuldført Antal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var production in Model)
            {
                <tr>
                    <td>@production.ProjectId</td>
                    <td>@production.ProjectName</td>
                    <td>@production.QuantityToProduce</td>
                    <td>@production CreatedAt </td>
                    <td>@production.Status</td>
                </tr>
            }
        </tbody>
    </table>

</div>

